<div id="contentBarolo">
  <div class="metric" style="position: absolute;top: 379px;right: 609px;;">Colour: {{colour}}</div>
  <div class="metric" style="position: absolute;top: 422px;right: 616px;;">Temp: {{temp}}</div>
  <div class="metric" style="position: absolute;top: 469px;right: 631px;;">Ph: {{ph}}</div>
  <div class="metric" style="position: absolute;top: 519px;right: 586px;;">Torbidity: {{torbidity}}</div>
  <div class="metric" style="position: absolute;top: 561px;right: 621px;;">Co2: {{co2}}</div>
</div>

<router-outlet></router-outlet>